body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 5.625rem;
    color: #009DAE;
    margin: 20px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #009DAE;
    ffont-family: 'Pacifico', cursive;
}
h3 {
    color: #FFE652;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}


.top-container {
    padding-top: 100px;
    background-color: #C2FFF9;
}
.middle-container {

}
.bottom-container {

}
.my_photo {
    height: 130px;
    border-radius: 100%;
}
.python {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 100px;
    border-radius: 100%;
}
.spark {
    height: 50px;
    padding: 10px;
}
.django {
    height: 30px;
    padding: 10px;
}